
@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

*,*::before, *::after{
box-sizing: inherit;
margin:0;
}

h2{
  font-family: 'Abril Fatface', cursive;
  color:#D7B9A4;
}

header,body{
font-family: 'Raleway', sans-serif;
}

a{
  color: #D7B9A4;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0.25em;
}

a:hover{
color: white;
}
