/*----Colour Scheme---*/
Dark Orange - 622518
Light Orange - AA3C24
Dark Teal - 239F94
Light Teal - 3EADAD
Beige - D7B9A4
/*--------------------*/

@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

*,*::before, *::after{
box-sizing: inherit;
margin:0;
}

.grid{
  margin:0 auto;
  max-width: 70em;
}

html,
body{
  margin:0;
  padding:0;
}

header,body{
font-family: 'Raleway', sans-serif;
}

h2{
  font-family:'Montserrat', sans-serif;
  color:#D7B9A4;
}

a{
  color: #D7B9A4;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0.25em;
}

a:hover{
color: white;
}

.btn{
  background-color:#AA3C24;
  border-radius:40px;
  color:white;
  width:40%;
  text-decoration:none;
  text-align:center;
  margin:0 30%;
}

.btn a:hover{
  color:#622518;
}

.hero-banner{
  position:relative;
}

.hero-text{
  position:absolute;
  display:block;
  text-align:center;
  color:#622518;
  width:100%;
  bottom:30px;
}

.pad-bottom{
  background-color:#D7B9A4;
}

ul{
  list-style-type:none;
  padding-left:0;
  text-align:center;
}

@media only screen and (min-width:80em){
  html{
    font-size:110%;
  }
}

@media only screen and (min-width:100em){
  html{
    font-size:120%;
  }
}

/*-------NAV-------------*/

.masthead{
  background-color:#BB5235;
}

.logo{
  max-width:356px;
  margin:0 auto;
}

@media only screen and (min-width: 50em){

  .logo{
    margin:0;
  }
}

.nav{
  margin-top: 1.5rem;
  text-align:center
}

.nav a{
  display:inline-block;
  margin:0 0.4em;
}

@media only screen and (min-width: 25em){

  .nav li{
    display:inline-block;
    padding-left:0;
  }
}

@media only screen and (min-width: 60em){

  .main-body{
    padding-top:3.9rem;
  }
}



/*-------ABOUT-------------*/

.about{
  background-color:#239F94;
}

.about_title{
  text-align:center;
}

/*-------TOUR-------------*/

.tour{
 background-color: #256766;
}

.tour_title{
  text-align:center;
}

@media only screen and (mid-width: 38em){

  .tour_title{
    text-align:center;
  }

  .tour{
    padding-left:1.3rem;
    padding-right:1.3rem;
  }

/*-------PRICING-------------*/

.pricing_title{
  text-align:center;
}

.pricing{
  background-color:#239F94;
}

@media only screen and (mid-width: 38em){

  .pricing_title{
    text-align:left;
  }

  .pricing{
    padding-left:1.3rem;
    padding-right:1.3rem;
  }
}

/*-------SIGN UP-------------*/

.sign-up-p{
  border-style:solid;
  border-color:#622518;
  background-color:#AA3C24;
  width:50%;
  text-align:center;
  margin:1.3rem auto;
}

.btn-signup{
  border-style:solid;
  border-color:#622518;
  background-color:#AA3C24;
  width:40%;
  text-align:center;
  text-decoration:none;
  text-align:center;
  margin:0 40%;
}

@media only screen and (mid-width: 60em){
.sign-up-p{
  width:20%;
  text-align:left;
  display:inline-block;
  padding-left:0;
}
  }

/*-------FOOTER-------------*/

.footer{
 background-color: #BB5235;
}

.footer_copyright{
   text-align:center;
}

@media only screen and (min-width: 50em){

  .footer_copyright{
     text-align:left;
  }
}
