/*----Colour Scheme---*/
Dark Orange - 622518
Light Orange - AA3C24
Dark Teal - 239F94
Light Teal - 3EADAD
Beige - D7B9A4
/*--------------------*/


html,
body{
  margin:0;
  padding:0;
}

@media only screen and (min-width:80em){
  html{
    font-size:110%;
  }
}

@media only screen and (min-width:100em){
  html{
    font-size:120%;
  }
}


.masthead{
  background-color:#BB5235;
}

.logo{
  max-width:356px;
  margin:0 auto;
}

@media only screen and (min-width: 50em){

  .logo{
    margin:0;
  }
}

.nav{
  margin-top: 1.5rem;
  text-align:center
}

.nav a{
  display:inline-block;
  margin:0 0.4em;
}

@media only screen and (min-width: 50em){

  .nav{
    margin-top: 0rem;
    text-align:right;
  }
}

.about{
  background-color:#239F94;
}

.tour{
 background-color: #256766;
}

.about_title{
  text-align:center;
}

.tour_title{
  text-align:center;
}

.pricing_title{
  text-align:center;
}

.pricing{
  background-color:#239F94;
}

.footer{
 background-color: #BB5235;
}

.footer_copyright{
   text-align:center;
}

@media only screen and (min-width: 50em){

  .footer_copyright{
     text-align:left;
  }
}

.grid{
  margin:0 auto;
  max-width: 70em;
}

.btn{
  background-color:#AA3C24;
  border-radius:40px;
  color:white;
  width:40%;
  text-decoration:none;
  text-align:center;
  margin:0 30%;
}

.btn a:hover{
  color:#622518;
}
